@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.App {
  min-height: 100vh;
}

.App .main {
  height: 100%;
  display: flex;
}

.App .main .custom-tabs {
  padding: 10px;
  /* border-radius: 10px; */
  background-color: #fafafa;
  width: 200px;
}

.App .main .custom-tabs .tab {
  color: #494949;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.App .main .custom-tabs .tab.active {
  color: #4ca1ec;
}

.App .main .custom-tabs .tab i {
  font-size: 14px;
}

.App .main .custom-tabs .tab span {
  margin-left: 10px;
}

.App .main .contents {
  display: flex;
}

.App .main .contents .left {
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

.App .main .contents .left .greetings {
  padding-bottom: 20px;
  width: 100%;
}

.App .main .contents .left .lesson {
  margin-right: 20px;
}

.App .main .contents .left .lesson h5 {
  font-size: 18px;
  font-weight: 500;
  color: #474747;
  margin-bottom: 10px;
}

.App .main .contents .left .leaderboard-container {
  width: 600px;
  padding: 10px;
  background-color: #fafafa;
}

.App .main .contents .right {
  width: 350px;
  padding-right: 20px;
}
